{{> partials/menu}}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
	<div class="col-12">
		<div class="page-header">
			<div class="float-right">
				<button type="submit" id="btnStoreAdd" class="btn btn-outline-success">{{ @root.__ "Create" }}</button>
			</div>
			<h2>{{ @root.__ "New Store" }}</h2>
		</div>
		<form id="storeNewForm" data-toggle="validator" autocomplete="off">
			<div class="form-group">
				<label>{{ @root.__ "Store Title" }} *</label>
				<input type="text" class="form-control" id="storeTitle" value="{{store.storeTitle}}" required>
			</div>
			<div class="form-group">
				<label>{{ @root.__ "User email" }} *</label>
				<input type="email" class="form-control" id="storeEmail" value="{{store.storeEmail}}" required>
			</div>
			<div class="form-group">
				<label>{{ @root.__ "Contact Name" }} *</label>
				<input type="text" class="form-control" id="storeNameContact" value="{{store.storeNameContact}}" required>
			</div>
			<div class="form-group">
				<label>{{ @root.__ "Store Address" }} *</label>
				<input type="text" class="form-control" id="storeAddress" value="{{store.storeAddress}}" required>
			</div>
			<div class="form-group">
				<label>{{ @root.__ "Store Description" }} *</label>
				<input type="text" class="form-control" id="storeDescription" value="{{store.storeDescription}}" required>
			</div>
			<div class="form-group">
            <label class="control-label">{{ @root.__ "Country" }} *</label>
                <select class="form-control" id="storeCountry" name="storeCountry" required>
                    <option value="" disabled selected>Seleccione Pais</option>
                    <option value="Chile">Chile</option>
                </select>
            </div>
            <div class="form-group">
            <label class="control-label">{{ @root.__ "State" }} *</label>
                <select class="form-control" id="storeState" name="storeState" required>
                    <option value="" disabled selected>Seleccione Region</option>
                    <option value="Los Lagos">Los Lagos</option>
                </select>
            </div>
            <div class="form-group">
            <label class="control-label">{{ @root.__ "City" }} *</label>
                <select class="form-control" id="storeCity" name="storeCity" required>
                    <option value="" disabled selected>Seleccione Ciudad</option>
                    <option value="Osorno">Osorno</option>
                </select>
            </div>
			<div class="form-group">
            <label class="control-label">{{ @root.__ "Type" }} *</label>
                <select class="form-control" id="storeType" name="storeType" required>
                    <option value="" disabled selected>Tipo de Tienda</option>
					<option value="Carnicería">Carnicería</option>
					<option value="Restaurant">Restaurant</option>
                    <option value="Gas">Gas</option>
					<option value="Ferretería">Ferretería</option>
					<option value="Panadería">Panadería</option>
					<option value="Almacén">Almacén</option>
					<option value="Congelados">Congelados</option>
					<option value="Frutería">Frutería</option>
					<option value="Otros">Otros</option>
                </select>
            </div>
        </form>
	</div>
</main>