{{> partials/menu}}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <form id="storeEditForm" data-toggle="validator">
        <input type="hidden" id="storeId" value="{{result._id}}" />
            <div class="col-md-12">
                <div class="page-header">
                    <div class="float-right">
                        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModal">{{ @root.__ "Upload image" }}</button>
                        <button type="submit" id="btnStoreEdit" class="btn btn-outline-success">{{ @root.__ "Update" }}</button>
                    </div>
                    <h2>{{ @root.__ "Store edit" }}</h2>
                </div>
            </div>
			<div class="form-group">
				<label>{{ @root.__ "Store Title" }} *</label>
				<input type="text" class="form-control" id="storeTitle" value="{{result.storeTitle}}" required>
			</div>
            <div class="form-group">
				<label>{{ @root.__ "User email" }} *</label>
				<input type="email" class="form-control" id="storeEmail" value="{{result.storeEmail}}" required>
			</div>
            <div class="form-group">
				<label>{{ @root.__ "Contact Name" }} *</label>
				<input type="text" class="form-control" id="storeNameContact" value="{{result.storeNameContact}}" required>
			</div>
			<div class="form-group">
				<label>{{ @root.__ "Store Address" }} *</label>
				<input type="text" class="form-control" id="storeAddress" value="{{result.storeAddress}}" required>
			</div>
			<div class="form-group">
				<label>{{ @root.__ "Store Description" }} *</label>
				<input type="text" class="form-control" id="storeDescription" value="{{result.storeDescription}}" required>
			</div>
			<div class="form-group">
            <label class="control-label">{{ @root.__ "Country" }} *</label>
                <select class="form-control" id="storeCountry" name="storeCountry" required>
                    <option value="Chile">Chile</option>
                </select>
            </div>
            <div class="form-group">
            <label class="control-label">{{ @root.__ "State" }} *</label>
                <select class="form-control" id="storeState" name="storeState" required>
                    <option value="Los Lagos">Los Lagos</option>
                </select>
            </div>
            <div class="form-group">
            <label class="control-label">{{ @root.__ "City" }} *</label>
                <select class="form-control" id="storeCity" name="storeCity" required>
                    <option value="Osorno" >Osorno</option>
                </select>
            </div>
            	<div class="form-group">
            <label class="control-label">{{ @root.__ "Type" }} *</label>
                <select class="form-control" id="storeType" name="storeType" required>          
                    <option value="Gas" {{selectState result.storeType "Gas"}}>Gas</option>
					<option value="Ferretería" {{selectState result.storeType "Ferretería"}}>Ferretería</option>
					<option value="Panadería" {{selectState result.storeType "Panadería"}}>Panadería</option>
					<option value="Almacén" {{selectState result.storeType "Almacén"}}>Almacén</option>
					<option value="Congelados" {{selectState result.storeType "Congelados"}}>Congelados</option>
					<option value="Frutería" {{selectState result.storeType "Frutería"}}>Frutería</option>
					<option value="Otros" {{selectState result.storeType "Otros"}}>Otros</option>            
                </select>
            </div>
		</form>
</main>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="uploadForm" enctype="multipart/form-data"></form>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ @root.__ "Store image upload" }}</h4>
            </div>
            <div class="modal-body">
                <span class="btn btn-outline-info btn-file">
                    {{ @root.__ "Select file" }}<input type="file" name="uploadFile" id="uploadFile" form="uploadForm">
                </span>
                <input type="hidden" id="storeId" name="storeId" value="{{result._id}}"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" id="uploadButtonStore" class="btn btn-outline-primary">{{ @root.__ "Upload" }}</button>
            </div>
        </div>
    </div>
</div>